# B-Sharp git ignore file

# ignore data
database/config.json
database/players

# ignore all polls
data/polls

# ignore logs
data/logs

# ignore node modules
node_modules

# ingnore package-lock
package-lock.json

# ignore vs-code workspace
**.code-workspace

# ignore data.zip
data.zip

old.js

old

*.js